
{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h6>
            Validation
        </h6>
    </div>
    <div class="row contenu">
        <div class="col offset-s1 s10">

               <a href="{{ path('find_me_homepage') }}"><button>Valider</button></a>

        </div>
    </div>
    {{ parent() }}
{% endblock body %}
