{% extends 'base.html.twig' %}

{% block body %}
    <h4 class="row">
    <h6>
        Validation
    </h6>
    </div>
    <div class="row contenu">
        <div class="col offset-s1 s10">
            <? php
                $validation = 1;
                ?>
           <button><a href="#">Valider</a></button>
        </div>
    </div>
    {{ parent() }}
{% endblock body %}