
{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col offset-s1 s10">
            <div class="row">
                <h4>
                    Validation
                </h4>
            </div>
            <div class="row contenu">
                <div class="col offset-s1 s10">
                    <p>
                        Proposition de : {{ app.user.username }}
                    </p>
                    {#
                                Rôle : Meneur
                    #}

                    <a href="{{ path('game_index') }}"><button>Gagné, rejoignez une nouvelle partie</button></a>
                    <a href="{{ path('find_me_homepage') }}"><button>Perdu, attendez une nouvelle proposition</button></a>
                </div>
            </div>
        </div>
    </div>

    {{ parent() }}
{% endblock body %}
