nav{
    position: fixed;
    bottom: 0;
    background-color:rgba(218,221,229,0.5);
    box-shadow: none;
}

.col{
    text-align: center;
}

i{
    color: #1C65D1;
}

.dropdown-content{
    box-shadow: none;
    background-color:rgba(218,221,229,0.8);
    width:32px;
}
.dropdown-content li > a{
    color: #1C65D1;
}

.dropdown-content li:last-child{
    margin-bottom:40%;
}

.contenu{
    margin-bottom:25%;
}


/****************************************************/
/***********************PROFIL***********************/
/****************************************************/

.photoProfil{
    border-radius: 50%;
    width:50px;
    height:50px;
    margin-top:5px;
}

.left{
    text-align: left;
    margin-left:10px;
}

h6{
    text-align:center;
}

.ss-titre {
    color: #0277bd;
}