nav{
    position: fixed;
    bottom: 0;
    background-color:rgba(218,221,229,0.5);
    box-shadow: none;
}

.col{
    text-align: center;
}

i{
    color: #1C65D1;
}

.dropdown-content{
    box-shadow: none;
    background-color:rgba(218,221,229,0.5);
    color: #1C65D1;
}

.dropdown-content li:last-child{
    margin-bottom:40%;
}