nav{
    position: fixed;
    bottom: 0;
    background-color:rgba(218,221,229,0.5);
    box-shadow: none;
}

.col{
    text-align: center;
}

i{
    color: #1C65D1;
}

.dropdown-content{
    box-shadow: none;
    background-color:rgba(218,221,229,0.8);
    width:32px;
}
.dropdown-content li > a{
    color: #1C65D1;
}

.dropdown-content li:last-child{
    margin-bottom:40%;
}

.contenu{
    margin-bottom:25%;
}


/****************************************************/
/***********************PROFIL***********************/
/****************************************************/

.photoProfil{
    border-radius: 50%;
    width:100px;
    height:100px;
    margin-top:5px;
    margin-bottom: 10px;
    align-content: center;
}

.left{
    text-align: left;
    margin-left:10px;
}
h4 {
    text-align: center;
}

h5{
    text-align:left;
    font-size: 1.5em;
}

.content {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}

.ss-titre {
    color: #0277bd;
}

blockquote {
    border-left: 5px solid #0277bd;
    padding-left: 1.5em;
}

.btn-floating {
    position: fixed;
    top: 45%;
    right: 10px;
    backgroud-color: #0277bd;
}

.btn-floating:hover {
    background-color: #757575;
}